include README.md
include LICENSE
include pyproject.toml

recursive-include smart_retry *.py

recursive-include examples *.py
recursive-include tests *.py

global-exclude __pycache__/*
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude .DS_Store